.article-container{
    width: 100%;
    & .img-container{
        width: 100%;
        margin-bottom: var(--spacing-medium);
        & img{
            width: 100%;
            height: auto;
        }
    }

    & .fb-video{
        margin-bottom: none;
        margin-top: var(--spacing-medium);
        width: 100%;
        & iframe{
            height: 200px;
        }
    }
}


 /* Tablet */
 @media screen and (min-width: 760px){
    .article-container{
        & .img-container{
            width: 60%;
            margin: auto;
            margin-bottom: var(--spacing-medium);
            & img{
                width: 100%;
                height: auto;
            }
        }
        & .fb-video{
            margin-bottom: none;
            margin-top: var(--spacing-large);
            & iframe{
                height: 350px;
            }
        }
    }
}


/* Dektop */
@media screen and (min-width: 1000px){
    .article-container{
        grid-column: 3/11;
    }

    .article-container{
        & .img-container{
            width: 100%;
        }
    }
}