.event-banner-container{
    background-color: var(--pistache);
    /*display: none;*/
}

.event-banner{
    padding: 1rem;
    & a{
        margin-top: 0.5rem;
    }

    & p{
        max-width: fit-content;
    }
}

 /* Tablet */
 @media screen and (min-width: 760px){
    .event-banner{
        padding: 1.5rem;
    }
}

/* Dektop */
@media screen and (min-width: 1000px){
    .event-banner{
        max-width: 1440px;
        padding: 1.5rem 4rem;
        margin: 0 auto;
    }
}