header {
    position: relative;
    &.white{
        background-color: var(--paz);
    }
    &.dark{
        background-color: var(--niebla);
    }
  }
  
  .navbar {
    padding: 1rem;
  }
  
  .sticky {
    position: sticky;
    top: 0;
    z-index: 2;
  }
  
  .right-nav{
    & .nav-links, a{
      display: none;
    }

  }

.mobile-nav-trigger, .mobile-nav{
  display: none;
}
  
  /* Mobile nav*/
  @media screen and (max-width: 599px) {
    .navbar {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }

    .mobile-nav-trigger{
      display: initial;
      cursor: pointer;

      & span{
        font-size: 2.5rem;
        color: var(--noche);
        &.paz-color{
            color: var(--noche);
        }
      }
    }

    .mobile-nav{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 1rem 1.5rem 1rem;
      background-color: var(--niebla);
      animation: fadeIn 0.3s;
      border-bottom: 2px solid var(--noche);
      & .nav-links{
        width: 100%;
      }
      & li{
        padding: 1.5rem 0;
        border-bottom: 2px solid  var(--espacio);
        list-style: none;

        & a{
          color: var(--noche);
          display: inline-block;
          width: 100%;
          text-decoration: none
        }

        & .active{
            font-weight: bold;
        }
      }

      & .menu-btn{
        margin-top: 1.5rem;
        font-size: 1rem;
        font-weight: 700;
        padding: 1rem 1.5rem;
        background-color: var(--paz);
        color: var(--noche);
        text-decoration: none;
        border-radius: 40px;
        box-shadow:inset 0px 0px 0px 2px var(--noche);
        text-align: center;
        &:hover{
        background-color: var(--niebla);
        color: var(--noche);
    }
      }

      &.collapsed{
        display: none;
      }
    }
  }

  @keyframes fadeIn {
    from {
         opacity: 0;
    }

    to {
         opacity: 1;
    }
  }


  /* Tablet */
  @media screen and (min-width: 600px) {
    .navbar {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }

    header{
        &.white{
            & .right-nav{
                & .nav-links{
                    & .link{
                        & a{
                            color: var(--noche);
                        }
                        & a.active{
                            border-bottom: 2px solid var(--noche);
                        }
                    }
                }
            }
        }
        &.dark{
            & .right-nav{
                & .nav-links{
                    & .link{
                        & a{
                            color: var(--noche);
                        }
                        & a.active{
                            border-bottom: 2px solid var(--noche);
                        }
                    }
                }
            }
        }
    }
    .right-nav{
      display: flex;
      & .nav-links, a{
        display: flex;
      }

      & .secondary-btn{
        height: 3rem;
        align-items: center;
      }

       & .nav-links {
        margin-right: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        & .link {
          margin: 0 1rem;
          list-style: none;
          & a{
            text-decoration: none;
          }
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }

          & a.active{
            font-weight: 700;
          }

          & a:hover{
            font-weight: 700;
            transition: all .5s;
          }
        }
      }
  }

  }


/* Tablet */
@media screen and (min-width: 760px) {
    .navbar {
      padding: 1.5rem;
    }
}
  
  /* Desktop */
  @media screen and (min-width: 1000px) {
    .navbar {
      padding: 1.5rem 0;
      max-width: 1120px;
      margin: auto;
    }
  }

  @media screen and (min-width: 900px) and (max-width:1200px){
    .navbar{
        padding: 1.5rem 2rem;
    }
}