.objectives-container{
    margin-top: var(--spacing-large);
    & .objective{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: var(--spacing-small) 0;
        border-bottom: 2px solid var(--espacio);
        & span{
            font-size: 2rem;
            margin-right: 1rem;
        }
    }
    & :last-child{
        border-bottom: none;
        padding-bottom: 0;
    }
}

.about-objectives-container{
    .objective-item{
        padding: var(--spacing-medium) 0;
        border-bottom: 2px solid var(--espacio);
        & .objective{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-bottom: var(--spacing-small);
            & span{
                font-size: 2rem;
                margin-right: 1rem;
            }
        }
    }
    & :last-child{
        border-bottom: none;
        padding-bottom: 0;
    }
}


/* Desktop */
@media screen and (min-width: 1000px) {
    .objectives-container{
        margin-top: var(--spacing-xxlarge);
    }

    .about-objectives-container{
        grid-column: 1/13;
        & .objective-item{
            grid-column: 1/13;
            display: grid;
            grid-template-columns: repeat(12,1fr);
            grid-gap: 1.5rem;
            & .objective-container{
                grid-column: 1/6;
            }
            & .desc{
                grid-column: 6/13;
            }
        }
    }
}