@import url("https://fonts.googleapis.com/css2?family=Baskervville&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  flex-grow: 1;
}

:root {
  --small: 0.75rem;
  --body: 1rem;
  --medium: 1.25rem;
  --large: 1.5rem;
  --xlarge: 2rem;
  --xxlarge: 2.5rem;
}

.small-bold {
  font-family: "Helvetica", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  font-size: var(--small);
}

.small-regular {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  font-size: var(--small);
}

.body-bold {
  font-family: "Helvetica", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  font-size: var(--body);
}

.body-regular {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: var(--body);
  max-width: 75ch;
}

.medium-bold {
  font-family: "Helvetica", sans-serif;
  font-weight: 700;
  line-height: 1.4;
  font-size: var(--medium);
}

.medium-regular {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  font-size: var(--medium);
}

.large {
  font-family: "Helvetica", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  font-size: var(--large);
}

.xlarge {
  font-family: "Baskervville", serif;
  font-weight: 400;
  line-height: 1.2;
  font-size: var(--xlarge);
  max-width: 40ch;
}

.xxlarge {
  font-family: "Baskervville", serif;
  font-weight: 400;
  line-height: 1;
  font-size: var(--xxlarge);
}

a {
  font-family: "Helvetica", sans-serif;
  font-size: var(--body);
  line-height: 1.5;
}

/* Dektop */
@media screen and (min-width: 1000px) {
  :root {
    --large: 2rem;
    --xlarge: 2.5rem;
    --xxlarge: 3.5rem;
  }
  .xxlarge {
    line-height: 0.9;
  }
}
/* Colors */
:root {
  --paz: #FFFFFF;
  --niebla: #F6F6F4;
  --noche: #0B0B0B;
  --vida: #CCCF31;
  --pistache: #E4E59E;
  --espacio: #E5E5E4;
  --grafito: #4E4D51;
  --cielo: #0055D3;
  --dignidad: #0041A3;
}

body {
  color: var(--noche);
  background-color: var(--paz);
}

/* Links */
a {
  color: var(--cielo);
}
a:hover {
  color: var(--dignidad);
}

/* Botones */
.primary-btn {
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 1.5rem;
  background-color: var(--noche);
  color: var(--paz);
  text-decoration: none;
  border-radius: 40px;
}
.primary-btn:hover {
  background-color: var(--grafito);
  color: var(--paz);
}

.secondary-btn {
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 1.5rem;
  background-color: var(--paz);
  color: var(--noche);
  text-decoration: none;
  border-radius: 40px;
  box-shadow: inset 0px 0px 0px 2px var(--noche);
}
.secondary-btn:hover {
  background-color: var(--niebla);
  color: var(--noche);
}

.ghost {
  font-weight: 700;
  text-decoration: none;
  color: var(--noche);
  --shift-distance: 0.11rem;
  display: inline-block;
  position: relative;
  padding-right: 2rem;
  transform: translateX(0);
  z-index: 1;
  transition: color 0.15s ease-in-out, transform 0.3s ease;
  border-radius: 2em;
  margin-top: var(--medium);
  width: -moz-fit-content;
  width: fit-content;
}
.ghost:hover {
  color: var(--noche);
  background-color: var(--vida);
  transform: translateX(var(--shift-distance));
}
.ghost:hover::before {
  height: 100%;
  left: calc(var(--shift-distance) * -4.5);
  transition: left 0.3s cubic-bezier(0.4, 1.7, 0.7, 0.8), right 0.3s ease, background-position 0.3s ease;
}
.ghost::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: calc(100% - 1.5rem);
  border-radius: 1rem;
  height: 1.5rem;
  z-index: -1;
  background-image: url(/img/Icons/Flecha.svg);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 100%;
  background-size: 1.5rem;
  background-color: var(--vida);
  transition: left 0.3s cubic-bezier(0.34, 1.2, 0.64, 1), right 0.3s ease, background-position 0.3s ease;
}
.ghost.pdf::before {
  background-image: url(/img/Icons/PDF.svg);
}

/* Tablet */
.hero-title {
  display: flex;
  flex-direction: column;
}
.hero-title .underline-absolute {
  background: linear-gradient(var(--vida), var(--vida)) 0 80%/100% 8px no-repeat;
}
.hero-title p {
  margin-top: var(--spacing-small);
}
.hero-title .btn-group {
  display: flex;
  flex: row;
  flex-wrap: wrap;
  padding-top: 0.5rem;
}
.hero-title .btn-group :first-child {
  margin-right: 1rem;
}
.hero-title .btn-group * {
  margin-top: var(--spacing-small);
}

.hero-img {
  width: 100%;
}
.hero-img .img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-xlarge);
}
.hero-img .img-container img {
  max-width: 255px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Tablet */
@media screen and (min-width: 560px) {
  .hero-img .img-container img {
    max-width: 40%;
  }
}
/* Desktop */
@media screen and (min-width: 1000px) {
  .hero-title {
    height: 100%;
    justify-content: center;
  }
  .hero-img {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5rem;
  }
  .hero-img .img-container {
    margin-top: 0;
    grid-column: 2/6;
  }
  .hero-img .img-container img {
    max-width: 100%;
  }
}
.event-banner-container {
  background-color: var(--pistache);
  /*display: none;*/
}

.event-banner {
  padding: 1rem;
}
.event-banner a {
  margin-top: 0.5rem;
}
.event-banner p {
  max-width: -moz-fit-content;
  max-width: fit-content;
}

/* Tablet */
@media screen and (min-width: 760px) {
  .event-banner {
    padding: 1.5rem;
  }
}
/* Dektop */
@media screen and (min-width: 1000px) {
  .event-banner {
    max-width: 1440px;
    padding: 1.5rem 4rem;
    margin: 0 auto;
  }
}
header {
  position: relative;
}
header.white {
  background-color: var(--paz);
}
header.dark {
  background-color: var(--noche);
}

.navbar {
  padding: 1rem;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 2;
}

.right-nav .nav-links, .right-nav a {
  display: none;
}

.mobile-nav-trigger, .mobile-nav {
  display: none;
}

/* Mobile nav*/
@media screen and (max-width: 599px) {
  .navbar {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .navbar.bg-white {
    background-color: var(--paz);
  }
  .mobile-nav-trigger {
    display: initial;
    cursor: pointer;
  }
  .mobile-nav-trigger span {
    font-size: 2.5rem;
  }
  .mobile-nav {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1.5rem 1rem;
    background-color: var(--paz);
    animation: fadeIn 0.3s;
  }
  .mobile-nav li {
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--espacio);
  }
  .mobile-nav li a {
    color: var(--noche);
    display: inline-block;
    width: 100%;
  }
  .mobile-nav .top-btn {
    margin-top: 1.5rem;
    border-radius: 0.5rem;
    width: 100%;
    text-align: center;
    background-color: var(--paz);
    color: var(--pistache);
    padding: 1rem 2rem;
  }
  .mobile-nav .top-btn:hover {
    background-color: var(--grafito);
    color: var(--pistache);
  }
  .mobile-nav.collapsed {
    display: none;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Tablet */
@media screen and (min-width: 600px) {
  .navbar {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  header.white .right-nav .nav-links .link a {
    color: var(--noche);
  }
  header.white .right-nav .nav-links .link a.active {
    border-bottom: 2px solid var(--noche);
  }
  header.dark .right-nav .nav-links .link a {
    color: var(--paz);
  }
  header.dark .right-nav .nav-links .link a.active {
    border-bottom: 2px solid var(--paz);
  }
  .right-nav {
    display: flex;
  }
  .right-nav .nav-links, .right-nav a {
    display: flex;
  }
  .right-nav .secondary-btn {
    height: 3rem;
    align-items: center;
  }
  .right-nav .nav-links {
    margin-right: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .right-nav .nav-links .link {
    margin: 0 1rem;
    list-style: none;
  }
  .right-nav .nav-links .link a {
    text-decoration: none;
  }
  .right-nav .nav-links .link:first-child {
    margin-left: 0;
  }
  .right-nav .nav-links .link:last-child {
    margin-right: 0;
  }
  .right-nav .nav-links .link a.active {
    font-weight: 700;
  }
  .right-nav .nav-links .link a:hover {
    font-weight: 700;
    transition: all 0.5s;
  }
}
/* Tablet */
@media screen and (min-width: 760px) {
  .navbar {
    padding: 1.5rem;
  }
}
/* Desktop */
@media screen and (min-width: 1000px) {
  .navbar {
    padding: 1.5rem 0;
    max-width: 1120px;
    margin: auto;
  }
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
  .navbar {
    padding: 1.5rem 2rem;
  }
}
.section-container.gray {
  background-color: var(--niebla);
}
.section-container.dark {
  background-color: var(--noche);
  color: var(--paz);
}

.section {
  padding: 1rem;
}
.section .full-width {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

/* Tablet */
@media screen and (min-width: 760px) {
  .section {
    padding: 1.5rem;
  }
}
/* Dektop */
@media screen and (min-width: 1000px) {
  .section {
    padding: 0;
    max-width: 1120px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
  }
  .section .half-column-1 {
    grid-column: 1/7;
  }
  .section .half-column-2 {
    grid-column: 7/13;
  }
  .section .full-width {
    grid-column: 3/11;
    text-align: center;
  }
  .section .full-width.last-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
  .section {
    padding: 0 2rem;
  }
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1.5rem;
  margin-top: var(--spacing-large);
}
.cards-container .card {
  padding: 1.5rem;
  box-shadow: inset 0px 0px 0px 2px var(--noche);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.cards-container .card .card-title {
  padding-top: var(--spacing-xsmall);
  flex-grow: 1;
}
.cards-container .card .event-content {
  padding-top: var(--spacing-xsmall);
}

/* Tablet */
@media screen and (min-width: 760px) {
  .cards-container {
    grid-template-columns: repeat(8, 1fr);
  }
  .cards-container :first-child {
    grid-column: 1/5;
  }
  .cards-container :nth-child(2) {
    grid-column: 5/9;
  }
  .cards-container :last-child {
    grid-column: 1/9;
  }
}
/* Desktop */
@media screen and (min-width: 1080px) {
  .cards-container {
    margin-top: 0;
  }
}
.objectives-container {
  margin-top: var(--spacing-large);
}
.objectives-container .objective {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--spacing-small) 0;
  border-bottom: 2px solid var(--espacio);
}
.objectives-container .objective span {
  font-size: 2rem;
  margin-right: 1rem;
}
.objectives-container :last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.about-objectives-container .objective-item {
  padding: var(--spacing-medium) 0;
  border-bottom: 2px solid var(--espacio);
}
.about-objectives-container .objective-item .objective {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: var(--spacing-small);
}
.about-objectives-container .objective-item .objective span {
  font-size: 2rem;
  margin-right: 1rem;
}
.about-objectives-container :last-child {
  border-bottom: none;
  padding-bottom: 0;
}

/* Desktop */
@media screen and (min-width: 1000px) {
  .objectives-container {
    margin-top: var(--spacing-xxlarge);
  }
  .about-objectives-container {
    grid-column: 1/13;
  }
  .about-objectives-container .objective-item {
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1.5rem;
  }
  .about-objectives-container .objective-item .objective-container {
    grid-column: 1/6;
  }
  .about-objectives-container .objective-item .desc {
    grid-column: 6/13;
  }
}
footer {
  padding: var(--spacing-large) 1rem;
  background-color: var(--niebla);
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .common-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--spacing-medium);
}
footer .common-links .footer-logo {
  margin-bottom: var(--spacing-small);
}
footer .common-links .socials {
  display: flex;
  width: 100%;
  justify-content: center;
}
footer .common-links .socials .twitter-logo {
  margin-right: 1.5rem;
}

/* Dektop */
@media screen and (min-width: 1000px) {
  .internal-title-container {
    grid-column: 1/7;
  }
  .subtitle-container {
    grid-column: 1/13;
  }
  .form {
    grid-column: 1/7;
  }
}
.resources-cards-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  margin-top: var(--spacing-small);
}
.resources-cards-container .card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--niebla);
  border-radius: 8px;
}
.resources-cards-container .card .img-container {
  width: 100%;
  height: 176px;
  margin-bottom: var(--spacing-small);
}
.resources-cards-container .card .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.resources-cards-container .card .title-container {
  display: flex;
  flex-direction: column;
}
.resources-cards-container .card .title-container h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.resources-cards-container .card .title-container .label {
  margin-top: var(--spacing-xsmall);
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  width: -moz-fit-content;
  width: fit-content;
}
.resources-cards-container .card .title-container .label.libro {
  background-color: #CF3131;
  color: #ffffff;
}
.resources-cards-container .card .title-container .label.seminario {
  background-color: #315DCF;
  color: #ffffff;
}

.left-rail .options {
  display: none;
}

.dropdown {
  min-width: 15rem;
  max-width: 20rem;
  position: relative;
  margin-top: var(--spacing-small);
  margin-bottom: var(--spacing-medium);
}

.dropdown * {
  box-sizing: border-box;
}

.select {
  background: var(--paz);
  color: var(--noche);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--noche);
  border-radius: 4px;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Helvetica", sans-serif;
  font-weight: 700;
}
.select .selected {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid var(--noche);
  transition: 0.3s;
  margin-left: 0.5rem;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  background: var(--paz);
  border: 2px solid var(--noche);
  border-radius: 0 0 4px 4px;
  color: var(--noche);
  position: absolute;
  top: 3.6rem;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 3;
}

.menu li {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Helvetica", sans-serif;
  padding: 1rem;
  cursor: pointer;
}
.menu li a {
  color: var(--noche);
  text-decoration: none;
  width: 100%;
  display: block;
}

.menu li:hover {
  background: var(--niebla);
}

.option-selected {
  background: var(--espacio);
}

.menu-open {
  display: block;
  opacity: 1;
}

/* Tablet */
@media screen and (min-width: 760px) {
  .resources-cards-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  .resources-cards-container .card .title-container {
    flex-grow: 1;
  }
}
/* Desktop */
@media screen and (min-width: 1000px) {
  .dropdown {
    display: none;
  }
  .left-rail {
    grid-column: 1/3;
  }
  .left-rail .options {
    display: flex;
    flex-direction: column;
  }
  .left-rail .options .leftr-option {
    padding: var(--spacing-small) 0;
    border-bottom: 2px solid var(--espacio);
    color: var(--noche);
    text-decoration: none;
  }
  .left-rail .options .leftr-option.active-tab {
    font-weight: 700;
    border-bottom: 2px solid var(--noche);
  }
  .left-rail .options .leftr-option:hover {
    color: var(--grafito);
    font-weight: 700;
    border-bottom: 2px solid var(--grafito);
  }
  .resources-cards-container {
    grid-column: 3/13;
    margin-top: 0;
  }
}
:root {
  --spacing-xsmall: 0.5rem;
  --spacing-small: 1rem;
  --spacing-medium: 1.5rem;
  --spacing-large: 2rem;
  --spacing-xlarge: 2.5rem;
  --spacing-xxlarge: 3rem;
  --spacing-xxxlarge: 3.5rem;
  --spacing-xxxxlarge: 3rem;
}

.padding-xxxxlarge {
  padding-top: var(--spacing-xxxxlarge);
  padding-bottom: var(--spacing-xxxxlarge);
}
.padding-xxxxlarge.hero {
  padding-top: calc(var(--spacing-xxxlarge) - 1.5rem);
}

.padding-internal-title {
  padding-top: var(--spacing-medium);
  padding-bottom: var(--spacing-xxlarge);
}

.padding-internal-section {
  padding-top: var(--spacing-xlarge);
  padding-bottom: var(--spacing-xxxlarge);
}

.margin-top-xlarge {
  margin-top: var(--spacing-xlarge);
}

.margin-top-small {
  margin-top: var(--spacing-small);
}

.margin-top-medium {
  margin-top: var(--spacing-medium);
}

/* Tablet */
/* Dektop */
@media screen and (min-width: 1000px) {
  :root {
    --spacing-xlarge: 3rem;
    --spacing-xxlarge: 3.5rem;
    --spacing-xxxlarge: 4rem;
    --spacing-xxxxlarge: 6.5rem;
  }
  .padding-xxxxlarge.hero {
    padding-top: var(--spacing-xxxlarge);
    padding-bottom: calc(var(--spacing-xxxlarge) + 6rem);
  }
}/*# sourceMappingURL=styles.css.map */